<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hearthstone Card API</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  {{{body}}}
</body>

</html>