* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.top-content {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#hearthstone-logo {
  height: 100px;
  margin: 0px 10px;
}
body {
  background: #323232;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}
a,
a.visited {
  color: white;
}
.text-links {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px;
  box-shadow: 5px 3px 3px gold;
  background: goldenrod;
  font-size: 30px;
}
.heroes {
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  justify-content: center;
}
.card-image {
  margin-top: 30px;
}
.page-title {
  margin: 20px 0 -40px 0;
}
.text-links-external {
  font-size: 26px;
  margin: 20px 20px;
}
.nav {
  display: flex;
  flex-direction: row;
}
ul {
  margin: 60px 0 -40px 0;
}
input {
  margin: 0px 20px;
  padding: 10px;
  width: 300px;
}
button {
  padding: 10px;
  background: goldenrod;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  font-weight: bold;
  border-style: 5px solid goldenrod;
}
form {
  margin: 20px;
}
input {
  text-align: left;
  padding: 20px 0px;
  border-radius: 10px;
  font-size: 30px;
}
.name-paragraph {
  margin: 10px 0px;
}
li {
  margin: 10px 0px;
}
@media screen and (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  button {
    margin: 20px 0px;
  }
  .heroes {
    flex-direction: column;
  }
}
