<div class="container">
  <h1>Welcome to <img id="hearthstone-logo" src="images/hearthstonelogo.png"> API</h1>
  <div class="heroes">
    {{#each thisClass}}
    <li><a href="/api/classes/test/{{{this.name}}}">{{this.name}}</a></li>
    {{/each}}
  </div>
  <div class="nav">
    <a href="/api/cards">View Cards JSON</a>
    <a href="/api/sets">View Sets JSON</a>
    <a href="/api/classes">View Classes JSON</a>
  </div>
</div>