<div class="container">
  <header>
    <h1 class="top-content">Welcome to <img id="hearthstone-logo" src="images/hearthstonelogo.png"> Card API</h1>
  </header>
  <p>Search for card by name (case sensitive):</p>
  <form method="POST" action="/api/cards/cardsearch/">
    <input class="input-field" name="name">
    <button class="search-button">Search</button type="button">
  </form>
  <p>View cards by class:</p>
  <div class="heroes">
    {{#each thisClass}}
    <a href="/api/classes/showclass/{{{this.name}}}" class="text-links">{{this.name}}</a>
    {{/each}}
  </div>
  <p>View JSON:</p>
  <div class="nav">
    <a href="/api/cards" class="text-links">Cards</a>
    <a href="/api/sets" class="text-links">Sets</a>
    <a href="/api/classes" class="text-links">Classes</a>
  </div>
  <p class="name-paragraph">Created by Shane Vann-Shirley, 2019</p>
</div>