<div class="container">
  <header>
    <h1 class="top-content">Welcome to <img id="hearthstone-logo" src="images/hearthstonelogo.png"> Card API</h1>
  </header>
  <p>View cards by class:</p>
  <div class="heroes">
    {{#each thisClass}}
    <a href="/api/classes/showclass/{{{this.name}}}">{{this.name}}</a>
    {{/each}}
  </div>
  <div class="nav">
    <a href="/api/cards">View Cards JSON</a>
    <a href="/api/sets">View Sets JSON</a>
    <a href="/api/classes">View Classes JSON</a>
  </div>
  <p>Created by Shane Vann-Shirley, 2019</p>
</div>