<a href="/">
  <h1 class="top-content"><img id="hearthstone-logo" src="/images/hearthstonelogo.png"> Card
    API</h1>
</a>
<div class="text-links-external">
  <a href="javascript:history.back()">Back</a>
</div>
<h1 class="page-title">{{{thisSet.name}}} Card List</h1>
{{#each thisSet.cards}} <a href="/api/cards/showcard/{{{this.name}}}"><img src="{{{this.img}}}" /></a>
{{/each}}


<p class="name-paragraph">Created by Shane Vann-Shirley, 2019</p>